<!-- This is a basic html page which Flask can serve. 
It does not use the power of Flask, but is easier to read than some of the other files. 
-->

<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>Tutorial</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <h1>Hello World</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About Me</a></li>
            <li><a href="#">About Meeeee</a></li>
        </ul>
    </body>

</html>