
h1{
    color: chartreuse;
}

ul { 

}

ul li { 
    color: brown;
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

ul li a { 
    color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}